.star-rating-container {
    display: flex;
}

.star-rating-container .star {
    width: 20px;
    height: 20px;
}


.star-rating-container .star {
    width: 20px;
    height: 20px;
}
.star-rating-container .star.star-rated .star-item {
    fill: blue;
}

.star-rating-container .star .star-item{
   width: 100%;
   height: 100%;
   stroke: #aaa;
   cursor: pointer;
   fill: none;
}
